/oficina/.phpunit.cache
/oficina/node_modules
/oficina/public/build
/oficina/public/hot
/oficina/public/storage
/oficina/storage/*.key
/oficina/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/oficina/.fleet
/oficina/.idea
/oficina/.vscode
.docker
